.alert {
    position: relative;
    padding: 10px;
    width: 245px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-left: 10px;
    margin-top: 10px;
}

